<div style="width: 1440px; height: 2560px; position: relative; background: white">
    <div style="width: 1475px; height: 225px; left: 0px; top: 478px; position: absolute">
      <div style="width: 1440px; height: 200px; left: 0px; top: 25px; position: absolute">
        <div style="width: 1440px; height: 200px; left: 0px; top: 0px; position: absolute; background: #8EAFDD"></div>
        <div style="width: 504px; left: 56px; top: 62px; position: absolute; color: white; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Kako rezervirati?</div>
      </div>
      <div style="width: 850px; height: 225px; left: 625px; top: 0px; position: absolute">
        <div style="width: 850px; height: 225px; left: 0px; top: 0px; position: absolute; background: #072447; border-radius: 25px"></div>
        <div style="left: 193px; top: 87px; position: absolute; color: white; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Pronađi prostor</div>
      </div>
    </div>
    <div style="width: 1440px; height: 1116px; left: 0px; top: -613px; position: absolute">
      <img style="width: 1440px; height: 1116px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1116" />
      <div style="width: 1440px; height: 1116px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.25)"></div>
    </div>
    <div style="width: 1260px; height: 265px; left: 90px; top: 812px; position: absolute">
      <div style="left: 16px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Gradska četvrt</div>
      <div style="width: 1260px; height: 156px; left: 0px; top: 109px; position: absolute">
        <div style="width: 1260px; height: 156px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #1F1F1F solid"></div>
        <div style="width: 100px; height: 100px; left: 1135px; top: 31px; position: absolute">
          <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 50px; height: 25px; left: 25px; top: 37.50px; position: absolute; border: 5px #616161 solid"></div>
        </div>
      </div>
      <div style="left: 53px; top: 155px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Trešnjevka - jug</div>
    </div>
    <div style="width: 1224px; height: 243px; left: 106px; top: 1778px; position: absolute">
      <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Površina prostora</div>
      <div style="left: 840px; top: 119px; position: absolute; color: #072447; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">450 m²</div>
      <div style="width: 1220px; height: 20px; left: 4px; top: 205px; position: absolute; background: #D9D9D9; border-radius: 10px"></div>
      <div style="width: 614px; height: 20px; left: 317px; top: 205px; position: absolute; background: #072447; border-radius: 10px"></div>
      <div style="width: 56px; height: 56px; left: 902px; top: 187px; position: absolute; background: #072447; border-radius: 9999px"></div>
      <div style="left: 255px; top: 119px; position: absolute; color: #072447; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">75 m²</div>
      <div style="width: 56px; height: 56px; left: 299px; top: 187px; position: absolute; background: #072447; border-radius: 9999px"></div>
    </div>
    <div style="width: 1260px; height: 265px; left: 90px; top: 1134px; position: absolute">
      <div style="left: 16px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Datum rezervacije</div>
      <div style="width: 1260px; height: 156px; left: 0px; top: 109px; position: absolute">
        <div style="width: 1260px; height: 156px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #1F1F1F solid"></div>
        <div style="width: 80px; height: 80px; left: 1145px; top: 40px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 53.33px; height: 53.33px; left: 13.33px; top: 16.67px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 0px; height: 13.33px; left: 53.33px; top: 10px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 0px; height: 13.33px; left: 26.67px; top: 10px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 53.33px; height: 0px; left: 13.33px; top: 36.67px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 6.67px; left: 26.67px; top: 50px; position: absolute; border: 5px #616161 solid"></div>
        </div>
      </div>
      <div style="left: 53px; top: 155px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">30.11.2023.</div>
    </div>
    <div style="width: 1259px; height: 209px; left: 90px; top: 2358px; position: absolute">
      <div style="left: 16px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Infrastruktura</div>
      <div style="width: 248px; height: 100px; left: 0px; top: 109px; position: absolute">
        <div style="width: 248px; height: 100px; left: 0px; top: 0px; position: absolute; background: rgba(142.44, 175.05, 221.41, 0.50); border-radius: 20px"></div>
        <div style="left: 113px; top: 27px; position: absolute; color: #072447; font-size: 44px; font-family: Rubik; font-weight: 500; word-wrap: break-word">Wi-Fi</div>
        <div style="width: 80px; height: 80px; left: 14px; top: 10px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 0.03px; height: 0px; left: 40px; top: 60px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 18.85px; height: 3.90px; left: 30.57px; top: 46.67px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 37.71px; height: 7.81px; left: 21.14px; top: 33.33px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 56.67px; height: 11.72px; left: 11.72px; top: 20px; position: absolute; border: 5px #072447 solid"></div>
        </div>
      </div>
      <div style="width: 432px; height: 100px; left: 271px; top: 109px; position: absolute">
        <div style="width: 432px; height: 100px; left: 0px; top: 0px; position: absolute; background: rgba(142.44, 175.05, 221.41, 0.50); border-radius: 20px"></div>
        <div style="left: 116px; top: 27px; position: absolute; color: #072447; font-size: 44px; font-family: Rubik; font-weight: 500; word-wrap: break-word">sanitarni čvor</div>
        <div style="width: 80px; height: 80px; left: 20px; top: 13px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 20px; height: 46.67px; left: 10px; top: 10px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 10px; height: 23.33px; left: 60px; top: 10px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 40px; height: 0px; left: 20px; top: 10px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 40px; height: 36.67px; left: 30px; top: 33.33px; position: absolute; border: 5px #072447 solid"></div>
          <div style="width: 0.03px; height: 0px; left: 20px; top: 33.33px; position: absolute; border: 2px #072447 solid"></div>
        </div>
      </div>
      <div style="width: 270px; height: 100px; left: 726px; top: 109px; position: absolute">
        <div style="width: 270px; height: 100px; left: 0px; top: 0px; position: absolute; background: rgba(142.44, 175.05, 221.41, 0.50); border-radius: 20px"></div>
        <div style="width: 80px; height: 80px; left: 7px; top: 10px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 40px; height: 56.67px; left: 20px; top: 13.33px; position: absolute; border: 5px #072447 solid"></div>
        </div>
        <div style="left: 90px; top: 27px; position: absolute; color: #072447; font-size: 44px; font-family: Rubik; font-weight: 500; word-wrap: break-word">grijanje</div>
      </div>
      <div style="width: 240px; height: 100px; left: 1019px; top: 109px; position: absolute">
        <div style="width: 240px; height: 100px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 20px"></div>
        <div style="left: 106px; top: 27px; position: absolute; color: #616161; font-size: 44px; font-family: Rubik; font-weight: 500; word-wrap: break-word">klima</div>
        <div style="width: 80px; height: 80px; left: 12px; top: 11px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 13.33px; height: 3.33px; left: 33.33px; top: 13.33px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 10px; height: 27.40px; left: 40px; top: 6.67px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 11.55px; left: 59.76px; top: 20.89px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 18.76px; height: 22.36px; left: 50.10px; top: 23.33px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 11.55px; left: 59.76px; top: 47.56px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 28.73px; height: 10.83px; left: 40.14px; top: 45.83px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 13.33px; height: 3.33px; left: 33.33px; top: 63.33px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 10px; height: 27.40px; left: 30px; top: 45.93px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 11.55px; left: 13.57px; top: 47.56px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 18.76px; height: 22.36px; left: 11.13px; top: 34.31px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 11.55px; left: 13.57px; top: 20.89px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 28.73px; height: 10.83px; left: 11.13px; top: 23.33px; position: absolute; border: 5px #616161 solid"></div>
        </div>
      </div>
    </div>
    <div style="width: 1055px; height: 201px; left: 106px; top: 2100px; position: absolute">
      <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Tip prostora</div>
      <div style="width: 1018px; height: 80px; left: 37px; top: 121px; position: absolute">
        <div style="width: 225px; height: 80px; left: 374px; top: 0px; position: absolute">
          <div style="left: 110px; top: 8px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">ured</div>
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; border-radius: 20px; border: 8px #D9D9D9 solid"></div>
        </div>
        <div style="width: 351px; height: 80px; left: 667px; top: 0px; position: absolute">
          <div style="left: 110px; top: 8px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">prostorija</div>
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute">
            <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; background: #8EAFDD; border-radius: 20px; border: 8px #072447 solid"></div>
            <div style="width: 51px; height: 36px; left: 14px; top: 24px; position: absolute">
              <div style="width: 25.50px; height: 0px; left: 0px; top: 19px; position: absolute; transform: rotate(41.82deg); transform-origin: 0 0; border: 8px #072447 solid"></div>
              <div style="width: 48.17px; height: 0px; left: 19px; top: 36px; position: absolute; transform: rotate(-48.37deg); transform-origin: 0 0; border: 8px #072447 solid"></div>
            </div>
          </div>
        </div>
        <div style="width: 314px; height: 80px; left: 0px; top: 0px; position: absolute">
          <div style="left: 109px; top: 8px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">dvorana</div>
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute">
            <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; background: #8EAFDD; border-radius: 20px; border: 8px #072447 solid"></div>
            <div style="width: 51px; height: 36px; left: 14px; top: 24px; position: absolute">
              <div style="width: 25.50px; height: 0px; left: 0px; top: 19px; position: absolute; transform: rotate(41.82deg); transform-origin: 0 0; border: 8px #072447 solid"></div>
              <div style="width: 48.17px; height: 0px; left: 19px; top: 36px; position: absolute; transform: rotate(-48.37deg); transform-origin: 0 0; border: 8px #072447 solid"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 1260px; height: 265px; left: 90px; top: 1456px; position: absolute">
      <div style="left: 16px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Vrijeme rezervacije (od - do)</div>
      <div style="width: 585px; height: 156px; left: 0px; top: 109px; position: absolute">
        <div style="width: 585px; height: 156px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #1F1F1F solid"></div>
        <div style="width: 80px; height: 80px; left: 457px; top: 38px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 60px; height: 60px; left: 10px; top: 10px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 10px; height: 6.67px; left: 40px; top: 40px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 0px; height: 16.67px; left: 40px; top: 23.33px; position: absolute; border: 5px #616161 solid"></div>
        </div>
      </div>
      <div style="left: 53px; top: 155px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">16:00</div>
      <div style="width: 585px; height: 156px; left: 675px; top: 109px; position: absolute">
        <div style="width: 585px; height: 156px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 1px #1F1F1F solid"></div>
        <div style="width: 80px; height: 80px; left: 457px; top: 38px; position: absolute">
          <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 60px; height: 60px; left: 10px; top: 10px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 6.67px; height: 10px; left: 33.33px; top: 40px; position: absolute; border: 5px #616161 solid"></div>
          <div style="width: 0px; height: 16.67px; left: 40px; top: 23.33px; position: absolute; border: 5px #616161 solid"></div>
        </div>
      </div>
      <div style="left: 728px; top: 155px; position: absolute; color: #1F1F1F; font-size: 54px; font-family: Rubik; font-weight: 400; word-wrap: break-word">19:15</div>
    </div>
    <div style="width: 330px; height: 222px; left: 1020px; top: 2281px; position: absolute">
      <div style="width: 330px; height: 222px; left: 0px; top: 0px; position: absolute; background: #072447; border-radius: 20px"></div>
      <div style="left: 39px; top: 125px; position: absolute; color: white; font-size: 56px; font-family: Space Grotesk; font-weight: 500; word-wrap: break-word">PRETRAŽI</div>
      <div style="width: 80px; height: 80px; left: 116px; top: 31px; position: absolute">
        <div style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 46.67px; height: 46.67px; left: 10px; top: 10px; position: absolute; border: 5px white solid"></div>
        <div style="width: 20px; height: 20px; left: 50px; top: 50px; position: absolute; border: 5px white solid"></div>
      </div>
    </div>
    <div style="width: 512px; height: 20px; left: 464px; top: 2519px; position: absolute; background: #616161; border-radius: 10px"></div>
    <div style="width: 1440px; height: 256px; left: 0px; top: 180px; position: absolute">
      <div style="width: 1440px; height: 256px; left: 0px; top: 0px; position: absolute; background: #072447"></div>
      <div style="width: 156px; height: 156px; left: 1247px; top: 50px; position: absolute">
        <div style="width: 156px; height: 156px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 39px; position: absolute; border: 5px white solid"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 78px; position: absolute; border: 5px white solid"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 117px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 396.51px; height: 156px; left: 50px; top: 50px; position: absolute">
        <div style="width: 18.61px; height: 25.82px; left: 196.97px; top: 30.91px; position: absolute; background: white"></div>
        <div style="width: 16.18px; height: 24.91px; left: 220.29px; top: 31.36px; position: absolute; background: white"></div>
        <div style="width: 18.92px; height: 24.90px; left: 238.80px; top: 31.37px; position: absolute; background: white"></div>
        <div style="width: 19.22px; height: 24.90px; left: 261.36px; top: 31.37px; position: absolute; background: white"></div>
        <div style="width: 25.52px; height: 42.02px; left: 197.63px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 31.91px; height: 42.02px; left: 226.94px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 31.40px; height: 43.56px; left: 262.80px; top: 83.01px; position: absolute; background: white"></div>
        <div style="width: 27.29px; height: 42.03px; left: 302.14px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 25.32px; height: 42.02px; left: 336.31px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 27.59px; height: 42.03px; left: 368.92px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 5.15px; height: 156px; left: 158.73px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 127.53px; height: 156px; left: 0px; top: 0px; position: absolute; background: white"></div>
      </div>
    </div>
    <div style="width: 1440px; height: 180px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1440px; height: 180px; left: 0px; top: 0px; position: absolute; background: #1F1F1F"></div>
      <div style="width: 100px; height: 100px; left: 40px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 75px; height: 37.50px; left: 12.50px; top: 12.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 58.33px; height: 37.50px; left: 20.83px; top: 50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1300px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 45.83px; position: absolute; background: white; border: 2px white solid"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 75px; position: absolute; background: white; border: 2px white solid"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 16.67px; position: absolute; background: white; border: 2px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1250px; top: 40px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 58.33px; height: 58.33px; left: 29.17px; top: 29.17px; position: absolute; border: 5px white solid"></div>
        <div style="width: 56.25px; height: 57.24px; left: 12.50px; top: 12.50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1000px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 0px; height: 58.33px; left: 50px; top: 20.83px; position: absolute; border: 5px white solid"></div>
        <div style="width: 58.33px; height: 0px; left: 20.83px; top: 50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 780px; height: 100px; left: 180px; top: 43px; position: absolute; background: #616161; border-radius: 50px"></div>
      <div style="width: 65px; height: 65px; left: 206px; top: 61px; position: absolute">
        <div style="width: 65px; height: 65px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 10.83px; height: 10.83px; left: 32.50px; top: 10.83px; position: absolute; border: 5px white solid"></div>
        <div style="width: 21.67px; height: 0px; left: 10.83px; top: 16.25px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 0px; left: 43.33px; top: 16.25px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 10.83px; left: 16.25px; top: 27.08px; position: absolute; border: 5px white solid"></div>
        <div style="width: 5.42px; height: 0px; left: 10.83px; top: 32.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 27.08px; height: 0px; left: 27.08px; top: 32.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 10.83px; left: 40.62px; top: 43.33px; position: absolute; border: 5px white solid"></div>
        <div style="width: 29.79px; height: 0px; left: 10.83px; top: 48.75px; position: absolute; border: 5px white solid"></div>
        <div style="width: 2.71px; height: 0px; left: 51.46px; top: 48.75px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="left: 295px; top: 69px; position: absolute; color: white; font-size: 44px; font-family: Inter; font-weight: 400; word-wrap: break-word">katica.zagreb.hr</div>
    </div>
  </div>