<div style="width: 1440px; height: 2560px; position: relative; background: white">
    <div style="left: 100px; top: 1844px; position: absolute; color: #8EAFDD; font-size: 200px; font-family: Space Grotesk; font-weight: 700; word-wrap: break-word">1</div>
    <div style="left: 233px; top: 1947px; position: absolute; color: #072447; font-size: 96px; font-family: Space Grotesk; font-weight: 700; word-wrap: break-word">Pretraži prostore</div>
    <div style="width: 1465px; height: 225px; left: -25px; top: 1527px; position: absolute">
      <div style="width: 1440px; height: 200px; left: 25px; top: 25px; position: absolute">
        <div style="width: 1440px; height: 200px; left: 0px; top: 0px; position: absolute; background: #8EAFDD"></div>
        <div style="left: 904px; top: 62px; position: absolute; color: white; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Pronađi prostor</div>
      </div>
      <div style="width: 850px; height: 225px; left: 0px; top: 0px; position: absolute">
        <div style="width: 850px; height: 225px; left: 0px; top: 0px; position: absolute; background: #072447; border-radius: 25px"></div>
        <div style="width: 504px; left: 192px; top: 87px; position: absolute; color: white; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Kako rezervirati?</div>
      </div>
    </div>
    <div style="width: 1440px; height: 1116px; left: 0px; top: 436px; position: absolute">
      <img style="width: 1440px; height: 1116px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1440x1116" />
      <div style="width: 1440px; height: 1116px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.25)"></div>
    </div>
    <div style="left: 100px; top: 1029px; position: absolute"><span style="color: white; font-size: 128px; font-family: Rubik; font-weight: 600; word-wrap: break-word">Pitaj Katicu</span><span style="color: white; font-size: 128px; font-family: Rubik; font-weight: 400; word-wrap: break-word"> i unajmi<br/>gradski prostor!</span></div>
    <div style="width: 512px; height: 20px; left: 464px; top: 2519px; position: absolute; background: #D9D9D9; border-radius: 10px"></div>
    <div style="width: 1440px; height: 256px; left: 0px; top: 180px; position: absolute">
      <div style="width: 1440px; height: 256px; left: 0px; top: 0px; position: absolute; background: #072447"></div>
      <div style="width: 156px; height: 156px; left: 1247px; top: 50px; position: absolute">
        <div style="width: 156px; height: 156px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 39px; position: absolute; border: 5px white solid"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 78px; position: absolute; border: 5px white solid"></div>
        <div style="width: 104px; height: 0px; left: 26px; top: 117px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 396.51px; height: 156px; left: 50px; top: 50px; position: absolute">
        <div style="width: 18.61px; height: 25.82px; left: 196.97px; top: 30.91px; position: absolute; background: white"></div>
        <div style="width: 16.18px; height: 24.91px; left: 220.29px; top: 31.36px; position: absolute; background: white"></div>
        <div style="width: 18.92px; height: 24.90px; left: 238.80px; top: 31.37px; position: absolute; background: white"></div>
        <div style="width: 19.22px; height: 24.90px; left: 261.36px; top: 31.37px; position: absolute; background: white"></div>
        <div style="width: 25.52px; height: 42.02px; left: 197.63px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 31.91px; height: 42.02px; left: 226.94px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 31.40px; height: 43.56px; left: 262.80px; top: 83.01px; position: absolute; background: white"></div>
        <div style="width: 27.29px; height: 42.03px; left: 302.14px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 25.32px; height: 42.02px; left: 336.31px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 27.59px; height: 42.03px; left: 368.92px; top: 83.78px; position: absolute; background: white"></div>
        <div style="width: 5.15px; height: 156px; left: 158.73px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 127.53px; height: 156px; left: 0px; top: 0px; position: absolute; background: white"></div>
      </div>
    </div>
    <div style="width: 1440px; height: 180px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1440px; height: 180px; left: 0px; top: 0px; position: absolute; background: #1F1F1F"></div>
      <div style="width: 100px; height: 100px; left: 40px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 75px; height: 37.50px; left: 12.50px; top: 12.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 58.33px; height: 37.50px; left: 20.83px; top: 50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1300px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 45.83px; position: absolute; background: white; border: 2px white solid"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 75px; position: absolute; background: white; border: 2px white solid"></div>
        <div style="width: 8.33px; height: 8.33px; left: 45.83px; top: 16.67px; position: absolute; background: white; border: 2px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1250px; top: 40px; position: absolute; transform: rotate(180deg); transform-origin: 0 0">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 58.33px; height: 58.33px; left: 29.17px; top: 29.17px; position: absolute; border: 5px white solid"></div>
        <div style="width: 56.25px; height: 57.24px; left: 12.50px; top: 12.50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 100px; height: 100px; left: 1000px; top: 40px; position: absolute">
        <div style="width: 100px; height: 100px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 0px; height: 58.33px; left: 50px; top: 20.83px; position: absolute; border: 5px white solid"></div>
        <div style="width: 58.33px; height: 0px; left: 20.83px; top: 50px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="width: 780px; height: 100px; left: 180px; top: 43px; position: absolute; background: #616161; border-radius: 50px"></div>
      <div style="width: 65px; height: 65px; left: 206px; top: 61px; position: absolute">
        <div style="width: 65px; height: 65px; left: 0px; top: 0px; position: absolute"></div>
        <div style="width: 10.83px; height: 10.83px; left: 32.50px; top: 10.83px; position: absolute; border: 5px white solid"></div>
        <div style="width: 21.67px; height: 0px; left: 10.83px; top: 16.25px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 0px; left: 43.33px; top: 16.25px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 10.83px; left: 16.25px; top: 27.08px; position: absolute; border: 5px white solid"></div>
        <div style="width: 5.42px; height: 0px; left: 10.83px; top: 32.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 27.08px; height: 0px; left: 27.08px; top: 32.50px; position: absolute; border: 5px white solid"></div>
        <div style="width: 10.83px; height: 10.83px; left: 40.62px; top: 43.33px; position: absolute; border: 5px white solid"></div>
        <div style="width: 29.79px; height: 0px; left: 10.83px; top: 48.75px; position: absolute; border: 5px white solid"></div>
        <div style="width: 2.71px; height: 0px; left: 51.46px; top: 48.75px; position: absolute; border: 5px white solid"></div>
      </div>
      <div style="left: 295px; top: 69px; position: absolute; color: white; font-size: 44px; font-family: Inter; font-weight: 400; word-wrap: break-word">katica.zagreb.hr</div>
    </div>
    <div style="left: 100px; top: 685px; position: absolute; color: white; font-size: 106px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Tražiš prostor<br/>za svoje događanje? </div>
    <div style="left: 90px; top: 2119px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">Pronađi idealan prostor za događanje koje<br/>organiziraš. Prostor možeš izabrati prema <br/>različitim kriterijima:</div>
    <div style="left: 138px; top: 2397px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">lokacija</div>
    <div style="left: 138px; top: 2484px; position: absolute; color: black; font-size: 64px; font-family: Rubik; font-weight: 400; word-wrap: break-word">termin</div>
</div>